In [1]:
import pandas as pd

In [2]:
def flatten_position(column, requested_field):
    pos_list = []
    for pos in column:
        pos_list.append(pos[requested_field])
    return ' '.join(pos_list)


df_sc = pd.read_json('SC_2020_player_data.json')

df_sc['position'] = df_sc['positions'].apply(lambda x: flatten_position(x, 'position'))
df_sc['long_team'] = df_sc['team'].apply(lambda x: x['name'])
df_sc['team'] = df_sc['team'].apply(lambda x: x['abbrev'])
df_sc

,id,first_name,last_name,team_id,price,previous_games,previous_average,previous_total,feed_id,active,positions,team,position,long_team
0,1,Rory,Atkins,1,410000,20,75.50,1510,294472,True,"[{'position': 'MID', 'position_long': 'Midfiel...",ADE,MID,Adelaide
1,2,Luke,Brown,1,369300,15,68.00,1020,293193,True,"[{'position': 'DEF', 'position_long': 'Defende...",ADE,DEF,Adelaide
2,3,Jordon,Butts,1,123900,0,0.00,0,1004995,True,"[{'position': 'DEF', 'position_long': 'Defende...",ADE,DEF,Adelaide
3,4,Ben,Crocker,1,152000,3,35.00,105,993796,True,"[{'position': 'FWD', 'position_long': 'Forward...",ADE,FWD,Adelaide
4,5,Brad,Crouch,1,534100,22,98.36,2164,294307,True,"[{'position': 'MID', 'position_long': 'Midfiel...",ADE,MID,Adelaide
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,812,Jake,Waterman,16,301600,11,55.55,611,996554,True,"[{'position': 'FWD', 'position_long': 'Forward...",WCE,FWD,West Coast
811,813,Francis,Watson,16,218300,2,67.00,134,298474,True,"[{'position': 'DEF', 'position_long': 'Defende...",WCE,DEF,West Coast
812,814,Bailey,Williams,16,123900,0,0.00,0,1006114,True,"[{'position': 'DEF', 'position_long': 'Defende...",WCE,DEF,West Coast
813,815,Elliot,Yeo,16,584400,21,107.62,2260,292128,True,"[{'position': 'MID', 'position_long': 'Midfiel...",WCE,MID,West Coast
814,816,Jack,Newnes,3,386400,20,71.15,1423,291773,True,"[{'position': 'MID', 'position_long': 'Midfiel...",CAR,MID,Carlton